In [ ]:
pip install pystarburst

In [ ]:
pip install trino

In [ ]:
import trino
from pystarburst import Session

import urllib3
urllib3.disable_warnings()

db_parameters = {
    "host": "shaktigoyal-data-eng-s3b-demo-virginia.trino.galaxy.starburst.io",
    "port": 443,
    "http_scheme": "https",
    "verify": False,
    # Setup authentication through login or password or any other supported authentication methods
    # See docs: https://github.com/trinodb/trino-python-client#authentication-mechanisms
    "auth": trino.auth.BasicAuthentication("toshaktigoyal@gmail.com/accountadmin", "HiShakti@1234")
}

try:
     session = Session.builder.configs(db_parameters).create()
     #dfproduct= session.table('s3bucket30may.discovered_schema."supply-chain"')
     dfproduct= session.sql('SELECT * FROM s3bucket30may.discovered_schema."supply-chain"')
     
     dfproduct.show()
  
     print('cluster got connected')
#session.sql("SELECT * FROM system.runtime.nodes").collect()
except Exception as ex:
     print('Error occoued', ex)

In [56]:
dfproduct.group_by('supplier_name').count().show()

-----------------------------
|"supplier_name"  |"count"  |
-----------------------------
|Supplier 3       |15       |
|Supplier 4       |18       |
|Supplier 2       |22       |
|Supplier 5       |18       |
|Supplier 1       |27       |
-----------------------------

In [57]:

dfproduct1= dfproduct.rename("product type","product_type")
dfproduct2= dfproduct1.groupBy('product_type').count().rename("count","No_Of_Products").show()

-------------------------------------
|"product_type"  |"no_of_products"  |
-------------------------------------
|cosmetics       |26                |
|haircare        |34                |
|skincare        |40                |
-------------------------------------

In [ ]:
session.sql('create schema if not exists s3bucket30may.analytical_schema').collect()

In [65]:
session.sql('drop table if exists s3bucket30may.analytical_schema.prdsupplier').collect()

[]

In [2]:
dfproduct2.write.save_as_table("s3bucket30may.analytical_schema.prdsupplier")

NameError: name 'dfproduct2' is not defined